@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Force the browser to fill the height */
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
}

/* 2. Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}


.bg{
  background-color: red;
}
